In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
dataset=pd.read_csv("18-21데이터통합.csv",encoding='cp949')

In [17]:
dataset

,movie title,Daudience,A1audience,A2audience,Dscreen,A1screen,A2screen,Nationality,Grade,Season,Month,Actscore,social distancing,labels
0,신과함께-인과 연,1246603,7339492,10099813,1967,2097,1108,0,12,3,8,10,0,5
1,어벤져스: 인피니티 워,980042,5977606,11775978,2460,2141,1615,1,12,1,4,7,0,5
2,보헤미안 랩소디,110477,874499,2061545,811,898,735,1,12,3,10,0,0,5
3,미션 임파서블: 폴아웃,601935,4135912,5785977,1717,1881,532,1,15,2,7,7,0,4
4,쥬라기 월드: 폴른 킹덤,1183496,3553008,4846217,1932,1772,930,1,12,2,6,2,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,나쁜 녀석들: 포에버,62608,402585,494139,876,896,302,1,19,4,1,3,0,0
151,국제수사,86468,407561,483144,1000,948,526,0,15,4,9,15,2,0
152,침입자,50416,316514,425085,1241,1224,823,0,15,4,6,7,1,0
153,장르만 로맨스,57130,331725,434581,1135,1175,688,0,15,4,11,12,0,0
154,스타워즈: 라이즈 오브 스카이워커,74338,381509,447647,957,881,445,1,12,4,1,1,0,0

In [18]:
## 데이터 시각화 해야함

In [19]:
print(dataset.describe())

         Daudience    A1audience    A2audience      Dscreen      A1screen   \
count  1.550000e+02  1.550000e+02  1.550000e+02   155.000000    155.000000
mean   2.155538e+05  1.405813e+06  2.135450e+06  1210.574194   1302.567742
std    2.176199e+05  1.263165e+06  2.064832e+06   464.958593   1099.819088
min    2.678500e+04  1.559560e+05  2.490150e+05   586.000000    388.000000
25%    8.584750e+04  7.143295e+05  9.807290e+05   921.500000    897.000000
50%    1.399650e+05  1.060001e+06  1.513030e+06  1063.000000   1101.000000
75%    2.709490e+05  1.596816e+06  2.387492e+06  1358.500000   1343.000000
max    1.339353e+06  7.339492e+06  1.177598e+07  2816.000000  13553.000000

         A2screen    Nationality       Grade      Season       Month   \
count   155.000000     155.000000  155.000000  155.000000  155.000000
mean    889.000000       0.438710   12.148387    3.058065    6.535484
std     414.635719       0.497838    4.798259    1.140965    3.569855
min      65.000000       0.000000    0.000000    1.000000    1.000000
25%     607.500000       0.000000   12.000000    2.000000    3.000000
50%     827.000000       0.000000   12.000000    4.000000    7.000000
75%    1081.500000       1.000000   15.000000    4.000000    9.500000
max    2320.000000       1.000000   19.000000    4.000000   12.000000

        Actscore    social distancing      labels
count  155.000000           155.000000  155.000000
mean     7.309677             0.541935    1.793548
std      5.534505             1.207330    1.380273
min      0.000000             0.000000    0.000000
25%      3.000000             0.000000    1.000000
50%      6.000000             0.000000    1.000000
75%     10.000000             0.000000    3.000000
max     25.000000             4.000000    5.000000

In [20]:
dataset.corr()

,Daudience,A1audience,A2audience,Dscreen,A1screen,A2screen,Nationality,Grade,Season,Month,Actscore,social distancing,labels
Daudience,1.000000,0.893360,0.837085,0.601362,0.214575,0.401340,0.120783,0.075611,-0.255363,0.052734,0.098335,-0.191994,0.684586
A1audience,0.893360,1.000000,0.975508,0.554923,0.171923,0.405067,0.059361,0.011128,-0.311821,0.048021,0.134175,-0.272898,0.817258
A2audience,0.837085,0.975508,1.000000,0.519669,0.160977,0.436819,0.039344,-0.008636,-0.316691,0.015530,0.140059,-0.267022,0.833572
Dscreen,0.601362,0.554923,0.519669,1.000000,0.421247,0.762972,0.202905,0.005719,0.101030,0.219637,0.108454,0.264442,0.467522
A1screen,0.214575,0.171923,0.160977,0.421247,1.000000,0.357719,0.004998,0.094896,0.110138,0.082384,-0.044580,0.357313,0.112611
A2screen,0.401340,0.405067,0.436819,0.762972,0.357719,1.000000,0.059832,-0.012373,0.111838,0.101110,0.191022,0.353224,0.451962
Nationality,0.120783,0.059361,0.039344,0.202905,0.004998,0.059832,1.000000,-0.342759,-0.068001,-0.041700,-0.546902,0.066424,0.066515
Grade,0.075611,0.011128,-0.008636,0.005719,0.094896,-0.012373,-0.342759,1.000000,0.044674,0.129530,0.255984,-0.017334,-0.077703
Season,-0.255363,-0.311821,-0.316691,0.101030,0.110138,0.111838,-0.068001,0.044674,1.000000,0.094349,0.075286,0.372976,-0.379926
Month,0.052734,0.048021,0.015530,0.219637,0.082384,0.101110,-0.041700,0.129530,0.094349,1.000000,0.104612,0.103986,0.054210
Actscore,0.098335,0.134175,0.140059,0.108454,-0.044580,0.191022,-0.546902,0.255984,0.075286,0.104612,1.000000,-0.025279,0.127428
social distancing,-0.191994,-0.272898,-0.267022,0.264442,0.357313,0.353224,0.066424,-0.017334,0.372976,0.103986,-0.025279,1.000000,-0.228568
labels,0.684586,0.817258,0.833572,0.467522,0.112611,0.451962,0.066515,-0.077703,-0.379926,0.054210,0.127428,-0.228568,1.000000

In [21]:
dataset.dtypes

movie title            object
 Daudience              int64
 A1audience             int64
 A2audience             int64
 Dscreen                int64
 A1screen               int64
 A2screen               int64
 Nationality            int64
 Grade                  int64
 Season                 int64
 Month                  int64
 Actscore               int64
 social distancing      int64
 labels                 int64
dtype: object

# SVM

In [ ]:
## 다른 모델의 학습과 동일하게 7:3의 비율로 트레이닝셋:테스트셋을 스플릿하였다.

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    dataset[[' Daudience ', ' A1audience ', ' A2audience ', ' Dscreen ', ' A1screen ', ' A2screen ', ' Nationality ', ' Grade ', ' Season ', ' Month ', ' Actscore ', ' social distancing ']], dataset[' labels '], test_size=0.3, random_state=42)

In [ ]:
## 다루는 데이터셋의 크기가 155개로 , 교차검증을 하면 더욱 신뢰도 높은 정확도를 구할수 있을것이다.

In [127]:
from sklearn.model_selection import cross_val_score,cross_validate

In [24]:
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)

X_train shape: (108, 12)
y_train shape: (108,)

In [25]:
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_test shape: (47, 12)
y_test shape: (47,)

In [73]:
## Nationality, Grade, Season , Month, Socialdisatancing의 범주형 변수와 Actscore 을 제외한 관객수와 스크린수에 관련한
## 변수의 최대 최소값은 상당한 차이가 있음을 알 수 있다. -> Scaling의 필요성

In [74]:
print("Daudience 범위: ", "[", min(X_train.iloc[:,0]), ",", max(X_train.iloc[:,0]), "]")
print("A1audience 범위: ", "[", min(X_train.iloc[:,1]), ",", max(X_train.iloc[:,1]), "]")
print("A2audience 범위: ", "[", min(X_train.iloc[:,2]), ",", max(X_train.iloc[:,2]), "]")
print("Dscreen 범위: ", "[", min(X_train.iloc[:,3]), ",", max(X_train.iloc[:,3]), "]")
print("A1screen 범위: ", "[", min(X_train.iloc[:,4]), ",", max(X_train.iloc[:,4]), "]")
print("A2screen 범위: ", "[", min(X_train.iloc[:,5]), ",", max(X_train.iloc[:,5]), "]")
print("Nationality 범위: ", "[", min(X_train.iloc[:,6]), ",", max(X_train.iloc[:,6]), "]")
print("Grade 범위: ", "[", min(X_train.iloc[:,7]), ",", max(X_train.iloc[:,7]), "]")
print("Season 범위: ", "[", min(X_train.iloc[:,8]), ",", max(X_train.iloc[:,8]), "]")
print("Month 범위: ", "[", min(X_train.iloc[:,9]), ",", max(X_train.iloc[:,9]), "]")
print("Actscore 범위: ", "[", min(X_train.iloc[:,10]), ",", max(X_train.iloc[:,10]), "]")
print("Socialdistancing 범위: ", "[", min(X_train.iloc[:,11]), ",", max(X_train.iloc[:,11]), "]")

Daudience 범위:  [ 26785 , 1339353 ]
A1audience 범위:  [ 155956 , 7339492 ]
A2audience 범위:  [ 249015 , 11775978 ]
Dscreen 범위:  [ 586 , 2816 ]
A1screen 범위:  [ 388 , 2948 ]
A2screen 범위:  [ 65 , 2320 ]
Nationality 범위:  [ 0 , 1 ]
Grade 범위:  [ 0 , 19 ]
Season 범위:  [ 1 , 4 ]
Month 범위:  [ 1 , 12 ]
Actscore 범위:  [ 0 , 25 ]
Socialdistancing 범위:  [ 0 , 4 ]

In [188]:
from sklearn.svm import SVC

In [ ]:
## 우선 가볍게 C=0.1 gamma=1 디폴트인 rbf커널로 학습시켜보았다.

In [28]:
svm_model = SVC( C=0.1, gamma=0.1)

In [29]:
svm_model.fit(X_train, y_train)

SVC(C=0.1, gamma=0.1)

In [30]:
y_pred = svm_model.predict(X_test)

In [31]:
print("예측된 라벨:", y_pred)
print("prediction accuracy: {:.2f}".format(np.mean(y_pred == y_test)))

예측된 라벨: [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1]
prediction accuracy: 0.40

In [190]:
plt.scatter(svm_model.suppoet_vectors_[:0],sv.support_vectors_[:,1],facecolors='yellow',edgecolor='k')

AttributeError: 'SVC' object has no attribute 'suppoet_vectors_'

In [ ]:
## 모두 라벨 1을 가리키는, 0.4의 정확도를 보이며 상당히 예측이 잘못되었음을 시사한다.

In [118]:
svm_model2 = SVC(kernel='rbf', C=0.1, gamma='auto')

In [119]:
svm_model2.fit(X_train, y_train)

SVC(C=0.1, gamma='auto')

In [120]:
y_pred2 = svm_model2.predict(X_test)

In [121]:
## 감마값을 높여서 진행하여도 동일한 결과를 얻었다.

In [122]:
print("예측된 라벨:", y_pred2)
print("prediction accuracy: {:.2f}".format(np.mean(y_pred2 == y_test)))

예측된 라벨: [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1]
prediction accuracy: 0.40

In [36]:
## 예측정확도를 얻기위해 파라미터값을 다양하게 변경해가며 최적의 하이퍼 파라미터 찾기위한 그리드 서치를 사용하였다.

In [37]:
## 우리의 분류 label은 0,1,2,3,4 의 총 5개로 rbf커널로 진행하여 실행하는것으로 하였다.

In [38]:
from sklearn.model_selection import GridSearchCV

In [79]:
svm_clf = SVC(kernel = 'rbf',random_state=100)
parameters = {'C': [0.001, 0.01, 0.1 , 1 , 10 , 100 , 1000]}

In [80]:
grid_svm = GridSearchCV(svm_clf, param_grid = parameters, cv = 4)

In [81]:
grid_svm.fit(X_train, y_train)

GridSearchCV(cv=4, estimator=SVC(random_state=100),
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000]})

In [82]:
result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False)

          C  mean_test_score
4    10.000         0.787037
6  1000.000         0.768519
5   100.000         0.759259
3     1.000         0.583333
0     0.001         0.379630
1     0.010         0.379630
2     0.100         0.379630

In [ ]:
### C 값이 10일때 가장 높은 정확도인 0.78을 보임으로 근처의 값을 몇개 더 실행하여 보았다.

In [83]:
svm_clf = SVC(kernel = 'rbf',random_state=100)
parameters = {'C': [ 5 , 7 , 12 , 25]}

In [84]:
grid_svm = GridSearchCV(svm_clf, param_grid = parameters, cv = 4)

In [85]:
grid_svm.fit(X_train, y_train)

GridSearchCV(cv=4, estimator=SVC(random_state=100),
             param_grid={'C': [5, 7, 12, 25]})

In [86]:
result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False)

    C  mean_test_score
0   5         0.796296
2  12         0.796296
3  25         0.787037
1   7         0.777778

In [87]:
svm_clf = SVC(kernel = 'rbf',random_state=100)
parameters = {'C': [ 6, 11 ] }

In [88]:
grid_svm = GridSearchCV(svm_clf, param_grid = parameters, cv = 4)

In [89]:
grid_svm.fit(X_train, y_train)

GridSearchCV(cv=4, estimator=SVC(random_state=100), param_grid={'C': [6, 11]})

In [90]:
result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False)

    C  mean_test_score
1  11         0.796296
0   6         0.787037

In [ ]:
## C값이 5, , 11, 12 일때 가장 높은 정확도를 보임을 알 수 있다.

In [47]:
## gamma값도 다루어 보자. 기준이 된 C=10의값과 최적의 값이었던 5, 11, 12 값을 C값으로 할당하여 감마값을 변화시켜보기로 하였다.

In [156]:
svm_clf = SVC(kernel = 'rbf',random_state=100)
parameters = {'C': [5 , 10 , 11 ,12 ],
             'gamma':[ 0.001, 0.01 , 0,1 , 1 ,10]}

In [110]:
grid_svm = GridSearchCV(svm_clf,
                      param_grid = parameters, cv = 6)

grid_svm.fit(X_train, y_train)

GridSearchCV(cv=4, estimator=SVC(random_state=100),
             param_grid={'C': [5, 10, 11, 12], 'gamma': ['auto']})

In [111]:
result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False)

    C gamma  mean_test_score
0   5  auto          0.37963
1  10  auto          0.37963
2  11  auto          0.37963
3  12  auto          0.37963

In [ ]:
## 가장 정확도가 높았던 C에대해서 감마값의 변화만 주었을때는 낮은 정확도가 발생, C값과 감마값을 동시에 변화시켜보는것으로 함

In [157]:
svm_clf = SVC(kernel = 'rbf',random_state=100)
parameters = {'C': [0.001, 0.01, 0.1, 1, 10, 25, 50, 100 , 200],
             'gamma':[0.001, 0.01, 0.1, 1 , 10]}

In [158]:
grid_svm = GridSearchCV(svm_clf, param_grid = parameters, cv = 4)

In [161]:
grid_svm.fit(X_train, y_train)

GridSearchCV(cv=4, estimator=SVC(random_state=100),
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 25, 50, 100, 200],
                         'gamma': [0.001, 0.01, 0.1, 1, 10]})

In [162]:
result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False)

          C   gamma  mean_test_score
0     0.001   0.001          0.37963
23   10.000   1.000          0.37963
25   25.000   0.001          0.37963
26   25.000   0.010          0.37963
27   25.000   0.100          0.37963
28   25.000   1.000          0.37963
29   25.000  10.000          0.37963
30   50.000   0.001          0.37963
31   50.000   0.010          0.37963
32   50.000   0.100          0.37963
33   50.000   1.000          0.37963
34   50.000  10.000          0.37963
35  100.000   0.001          0.37963
36  100.000   0.010          0.37963
37  100.000   0.100          0.37963
38  100.000   1.000          0.37963
39  100.000  10.000          0.37963
40  200.000   0.001          0.37963
41  200.000   0.010          0.37963
42  200.000   0.100          0.37963
43  200.000   1.000          0.37963
24   10.000  10.000          0.37963
22   10.000   0.100          0.37963
1     0.001   0.010          0.37963
21   10.000   0.010          0.37963
2     0.001   0.100          0.37963
3     0.001   1.000          0.37963
4     0.001  10.000          0.37963
5     0.010   0.001          0.37963
6     0.010   0.010          0.37963
7     0.010   0.100          0.37963
8     0.010   1.000          0.37963
9     0.010  10.000          0.37963
10    0.100   0.001          0.37963
11    0.100   0.010          0.37963
12    0.100   0.100          0.37963
13    0.100   1.000          0.37963
14    0.100  10.000          0.37963
15    1.000   0.001          0.37963
16    1.000   0.010          0.37963
17    1.000   0.100          0.37963
18    1.000   1.000          0.37963
19    1.000  10.000          0.37963
20   10.000   0.001          0.37963
44  200.000  10.000          0.37963

In [123]:
### 교차검증

In [134]:
scores = cross_val_score(svm_clf, X_train, y_train, cv = 4)
scores

pd.DataFrame(cross_validate(svm_clf, X_train, y_train, cv =4))

print('교차검증 평균: ', scores.mean())

교차검증 평균:  0.5833333333333333

In [135]:
scores = cross_val_score(svm_clf, X_train, y_train, cv = 5)
scores

pd.DataFrame(cross_validate(svm_clf, X_train, y_train, cv =5))

print('교차검증 평균: ', scores.mean())

교차검증 평균:  0.6112554112554112

In [138]:
scores = cross_val_score(svm_clf, X_train, y_train, cv = 6)
scores

pd.DataFrame(cross_validate(svm_clf, X_train, y_train, cv =6))

print('교차검증 평균: ', scores.mean())

교차검증 평균:  0.6388888888888888

In [139]:
scores = cross_val_score(svm_clf, X_train, y_train, cv = 7)
scores

pd.DataFrame(cross_validate(svm_clf, X_train, y_train, cv =7))

print('교차검증 평균: ', scores.mean())

교차검증 평균:  0.6386904761904761

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=7.
  warnings.warn(("The least populated class in y has only %d"
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=7.
  warnings.warn(("The least populated class in y has only %d"

In [144]:
# 교차검증은 cv=6 트레인 테스트스플릿을 6개로 할당하여 cross_validation한것이 가장 높은값으로 y label이 6개인특성상 cv>7이상에서는 점차 낮은 정확도를 띄게되었다.

In [129]:
## 표준화 하여 정확도 향상이 있는지 탐색

In [130]:
from sklearn.preprocessing import StandardScaler

In [131]:
sc = StandardScaler()
sc.fit(X_train)

StandardScaler()

In [132]:
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [58]:
## 표준화 된 x feature에 대하여 실행

In [167]:
svm_clf = SVC(kernel = 'rbf',random_state=100)
parameters = {'C': [0.001, 0.01, 0.1, 1, 10, 25, 50, 100 , 200],
             'gamma':[0.001, 0.01, 0.1, 1 , 10]}

In [168]:
grid_svm = GridSearchCV(svm_clf, param_grid = parameters, cv = 6)

In [169]:
grid_svm.fit(X_train_std, y_train)

GridSearchCV(cv=6, estimator=SVC(random_state=100),
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 25, 50, 100, 200],
                         'gamma': [0.001, 0.01, 0.1, 1, 10]})

In [170]:
result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False)

          C   gamma  mean_test_score
31   50.000   0.010         0.694444
36  100.000   0.010         0.685185
41  200.000   0.010         0.657407
26   25.000   0.010         0.638889
40  200.000   0.001         0.629630
35  100.000   0.001         0.629630
30   50.000   0.001         0.629630
21   10.000   0.010         0.601852
17    1.000   0.100         0.592593
27   25.000   0.100         0.583333
42  200.000   0.100         0.583333
37  100.000   0.100         0.583333
22   10.000   0.100         0.574074
32   50.000   0.100         0.574074
25   25.000   0.001         0.564815
20   10.000   0.001         0.444444
33   50.000   1.000         0.416667
38  100.000   1.000         0.416667
28   25.000   1.000         0.416667
23   10.000   1.000         0.416667
43  200.000   1.000         0.416667
16    1.000   0.010         0.416667
18    1.000   1.000         0.407407
34   50.000  10.000         0.379630
29   25.000  10.000         0.379630
39  100.000  10.000         0.379630
0     0.001   0.001         0.379630
24   10.000  10.000         0.379630
1     0.001   0.010         0.379630
2     0.001   0.100         0.379630
3     0.001   1.000         0.379630
4     0.001  10.000         0.379630
5     0.010   0.001         0.379630
6     0.010   0.010         0.379630
7     0.010   0.100         0.379630
8     0.010   1.000         0.379630
9     0.010  10.000         0.379630
10    0.100   0.001         0.379630
11    0.100   0.010         0.379630
12    0.100   0.100         0.379630
13    0.100   1.000         0.379630
14    0.100  10.000         0.379630
15    1.000   0.001         0.379630
19    1.000  10.000         0.379630
44  200.000  10.000         0.379630

In [171]:
svm_clf = SVC(kernel = 'rbf',random_state=100)
parameters = {'C': [0.001, 0.01, 0.1, 1, 10, 25, 50, 100 , 200],
             'gamma':[0.001, 0.01, 0.1, 1 , 10]}

In [172]:
grid_svm = GridSearchCV(svm_clf, param_grid = parameters, cv = 4)

In [173]:
grid_svm.fit(X_train_std, y_train)

GridSearchCV(cv=4, estimator=SVC(random_state=100),
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 25, 50, 100, 200],
                         'gamma': [0.001, 0.01, 0.1, 1, 10]})

In [174]:
result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False)

          C   gamma  mean_test_score
36  100.000   0.010         0.703704
31   50.000   0.010         0.694444
41  200.000   0.010         0.685185
26   25.000   0.010         0.648148
40  200.000   0.001         0.629630
21   10.000   0.010         0.629630
35  100.000   0.001         0.629630
22   10.000   0.100         0.611111
17    1.000   0.100         0.611111
30   50.000   0.001         0.611111
42  200.000   0.100         0.601852
37  100.000   0.100         0.601852
27   25.000   0.100         0.592593
32   50.000   0.100         0.592593
25   25.000   0.001         0.546296
20   10.000   0.001         0.453704
33   50.000   1.000         0.407407
38  100.000   1.000         0.407407
18    1.000   1.000         0.407407
28   25.000   1.000         0.407407
23   10.000   1.000         0.407407
43  200.000   1.000         0.407407
16    1.000   0.010         0.398148
34   50.000  10.000         0.379630
29   25.000  10.000         0.379630
39  100.000  10.000         0.379630
0     0.001   0.001         0.379630
24   10.000  10.000         0.379630
1     0.001   0.010         0.379630
2     0.001   0.100         0.379630
3     0.001   1.000         0.379630
4     0.001  10.000         0.379630
5     0.010   0.001         0.379630
6     0.010   0.010         0.379630
7     0.010   0.100         0.379630
8     0.010   1.000         0.379630
9     0.010  10.000         0.379630
10    0.100   0.001         0.379630
11    0.100   0.010         0.379630
12    0.100   0.100         0.379630
13    0.100   1.000         0.379630
14    0.100  10.000         0.379630
15    1.000   0.001         0.379630
19    1.000  10.000         0.379630
44  200.000  10.000         0.379630

In [175]:
svm_clf = SVC(kernel = 'rbf',random_state=100)
parameters = {'C': [0.001, 0.01, 0.1, 1, 10, 25, 50, 100 , 200],
             'gamma':[0.001, 0.01, 0.1, 1 , 10]}

In [176]:
grid_svm = GridSearchCV(svm_clf, param_grid = parameters, cv = 5)

In [177]:
grid_svm.fit(X_train_std, y_train)

GridSearchCV(cv=5, estimator=SVC(random_state=100),
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 25, 50, 100, 200],
                         'gamma': [0.001, 0.01, 0.1, 1, 10]})

In [178]:
result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False)

          C   gamma  mean_test_score
36  100.000   0.010         0.686580
31   50.000   0.010         0.667100
41  200.000   0.010         0.649351
35  100.000   0.001         0.620346
17    1.000   0.100         0.619913
40  200.000   0.001         0.602165
21   10.000   0.010         0.592208
30   50.000   0.001         0.583983
22   10.000   0.100         0.583550
26   25.000   0.010         0.583550
27   25.000   0.100         0.574026
42  200.000   0.100         0.573593
37  100.000   0.100         0.573593
32   50.000   0.100         0.564502
25   25.000   0.001         0.555411
20   10.000   0.001         0.425974
33   50.000   1.000         0.399134
38  100.000   1.000         0.399134
28   25.000   1.000         0.399134
23   10.000   1.000         0.399134
43  200.000   1.000         0.399134
16    1.000   0.010         0.398268
18    1.000   1.000         0.390043
34   50.000  10.000         0.380087
29   25.000  10.000         0.380087
39  100.000  10.000         0.380087
0     0.001   0.001         0.380087
24   10.000  10.000         0.380087
1     0.001   0.010         0.380087
2     0.001   0.100         0.380087
3     0.001   1.000         0.380087
4     0.001  10.000         0.380087
5     0.010   0.001         0.380087
6     0.010   0.010         0.380087
7     0.010   0.100         0.380087
8     0.010   1.000         0.380087
9     0.010  10.000         0.380087
10    0.100   0.001         0.380087
11    0.100   0.010         0.380087
12    0.100   0.100         0.380087
13    0.100   1.000         0.380087
14    0.100  10.000         0.380087
15    1.000   0.001         0.380087
19    1.000  10.000         0.380087
44  200.000  10.000         0.380087

In [ ]:
## cv= 4,5,6일때 각각의 값들 , 최적값은 cv=4 C=100, gamma=0.01

In [67]:
##교차검증

In [181]:
scores = cross_val_score(svm_clf, X_train_std, y_train, cv = 4)
scores

pd.DataFrame(cross_validate(svm_clf, X_train_std, y_train, cv =4))

print('교차검증 평균: ', scores.mean())

교차검증 평균:  0.638888888888889

In [182]:
scores = cross_val_score(svm_clf, X_train_std, y_train, cv = 5)
scores

pd.DataFrame(cross_validate(svm_clf, X_train_std, y_train, cv =5))

print('교차검증 평균: ', scores.mean())

교차검증 평균:  0.6103896103896104

In [183]:
scores = cross_val_score(svm_clf, X_train_std, y_train, cv = 6)
scores

pd.DataFrame(cross_validate(svm_clf, X_train_std, y_train, cv =6))

print('교차검증 평균: ', scores.mean())

교차검증 평균:  0.601851851851852